@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @*<title>@title</title>*@
        <title>Eggo Egg</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="apple-touch-icon" sizes="57x57" href="@routes.Assets.at("images/favicon/apple-icon-57x57.png")">
        <link rel="apple-touch-icon" sizes="60x60" href="@routes.Assets.at("/images/favicon/apple-icon-60x60.png")">
        <link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.at("images/favicon/apple-icon-72x72.png")">
        <link rel="apple-touch-icon" sizes="76x76" href="@routes.Assets.at("images/favicon/apple-icon-76x76.png")">
        <link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.at("images/favicon/apple-icon-114x114.png")">
        <link rel="apple-touch-icon" sizes="120x120" href="@routes.Assets.at("images/favicon/apple-icon-120x120.png")">
        <link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.at("images/favicon/apple-icon-144x144.png")">
        <link rel="apple-touch-icon" sizes="152x152" href="@routes.Assets.at("images/favicon/apple-icon-152x152.png")">
        <link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.at("images/favicon/apple-icon-180x180.png")">
        <link rel="icon" type="image/png" sizes="192x192"  href="@routes.Assets.at("images/favicon/android-icon-192x192.png")">
        <link rel="icon" type="image/png" sizes="32x32" href="@routes.Assets.at("images/favicon/favicon-32x32.png")">
        <link rel="icon" type="image/png" sizes="96x96" href="@routes.Assets.at("images/favicon/favicon-96x96.png")">
        <link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.at("images/favicon/favicon-16x16.png")">
        <link rel="manifest" href="@routes.Assets.at("images/favicon/manifest.json")">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,600,900" rel="stylesheet">
        <script>
                (function(h,e,a,t,m,p) {
                    m=e.createElement(a);m.async=!0;m.src=t;
                    p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
                })(window,document,'script','https://u.heatmap.it/log.js');
        </script>
    </head>
    <body>
        <header class="container">

            <section class="content">
                <h1>Stay calm <span class="span-h1">and</span>
                    <h1 class="second">Breathe</h1>
			</h1>

                <div class="main">
				PAGE COMING SOON
                </div>

            </section>
        </header>
        <div class="footer">
            <p class="contact">
        <p class="light-p">have a question? email us at
            <br><span class="email-address">hello@@eggoegg.com</span>
        </p>
        </div>
    </body>
    </body>
</html>
